---
layout: page
title: Archive
permalink: /archive/
---
<center><iframe src="https://duckduckgo.com/search.html?width=300&site=codytucker.net&prefill=Search using DuckDuckGo" style="overflow:hidden;margin:0;padding:0;width:358px;height:40px;" frameborder="0"></iframe>
<section class="archive-post-list"></></center>

  {% for post in site.posts %}
        {% assign currentDate = post.date | date: "%Y" %}
        {% if currentDate != myDate %}
            {% unless forloop.first %}</ul>{% endunless %}
            <h1>{{ currentDate }}</h1>
            <ul>
            {% assign myDate = currentDate %}
        {% endif %}
        <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}

</section>
